<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Formulario Eliminar</title>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form th:action="@{/eliminar/videojuego/{id}(id=${videojuego.id})}" method="post">
            <div class="row g-3 text-center">
              <div class="form-group col-md-12">
                <h4>¿Esta seguro de eliminar este videojuego? </h4>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-md-6">
                <button class="btn btn-outline-secondary" type="submit" style="width:100%">
                  Si
                </button>
              </div>
              <div class="col-md-6">
                <a class="btn btn-success" th:href="@{/crud}" style="width:100%">No</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>